{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
    <div class="container text-center">

        <div class="text-center mb-4">
            <h1>Users List</h1>
            <a href="{{ url_for('create_user') }}" class="btn btn-primary">Create User</a>
            <a href="{{ url_for('view_logs') }}" class="btn btn-secondary">View Logs</a>
        </div>
    
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.userID }}</td>
                        <td>{{ user.Fname }}</td>
                        <td>{{ user.Lname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ url_for('update_user', userID=user.userID) }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ url_for('delete_user', userID=user.userID) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
